h1,
h2,
h3,
p {
    font-family: 'Libre Franklin';
    font-style: normal;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: beige;
}

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: #F7F7F7;
}

.i-container {
    padding-left: 135px;
    padding-right: 135px;
}

.header {
    display: block;
}

.main {
    display: block;
    padding-bottom: 120px;



}









.header__logo {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-right: 420px;
}


.header__wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between
}

.nav__list {
    display: flex;
    flex-direction: row;

}

.nav__list {
    gap: 40px;
    margin-right: 35px;

}


.list__item__link {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;


}

.list__item__link:hover{
    color:grey;
}

.nav__dot {
    width: 4px;
    height: 4px;
    background-color: #FFFFFF;

}


.header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav__list-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
}

.item-right {
    border: 2px solid #FFFFFF;
    padding: 11px 17px;
    border-radius: 4px;
}

.header__logo__link {

    width: 126px;
}


.main__title {
    padding-top: 120px;
    margin-bottom: 35px;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 700;
    font-size: 71px;
    line-height: 78px;
    text-align: center;
    letter-spacing: 1px;
    color: #FFFFFF;


}

.main__tagline {

    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 60px;
}

.main__btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 17px 40px;
    box-shadow: none;
    border: none;
    background-color: #5AB963;
    color: #FFFFFF;
    border-radius: 4px;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;



}

.main__btn:hover {
    background-color: #32CD32;
}

.header-main__wrap {
    background-image: url(/img/main2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 120px;
}


.section-2__text {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    margin-bottom: 54px;


}

.section-2__text-span {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    line-height: 36px;
    color: #999999;


}

.section-2__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding-left: 0;

}

.section-2__list__item {
    padding: 51px 64px 109px 41px;
    background-color: #F7F7F7;
    border: 1px solid #E5E5E5;


}

.section-2__list__title {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #000000;


}


.section-2__list__tagline {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #999999;


}

.section-2 {
    margin-bottom: 120px;
}

.section-3__eggs {
    margin-bottom: 115px;
}


.section-3__pict {
    display: block;
    margin-bottom: 115px;
    margin-left: auto;
    margin-right: auto;
}

.section-3__text {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;

    color: #000000;


}


.section-3__span {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    line-height: 36px;
    text-align: center;

    color: #999999;


}

.section-3__tagline {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;

    color: #5AB963;


}


.section-4__line {
    width: 100%;
    border: 1px solid #999999;
    margin-bottom: 120px;

}


.section-3__eggs {}

.section-4__menu1 {
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-bottom: 90px;
}

.section-4__title {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    margin-bottom: 25px;


}

.section-4__title-span {


    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    line-height: 36px;
    color: #999999;


}

.section-4__tagline {

    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: #999999;


}

.section-4__menu2 {
    display: flex;
    flex-direction: row;
    margin-left: 230px;
    gap: 100px;
}


.section-4__title__footer {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin-bottom: 12px;


}

.section-4__wrap {
    margin-bottom: 110px;

}

.section-4__title__footer-green {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;

    color: #5AB963;
    margin-bottom: 120px;


}

.green-line {
    width: 10px;
    background-color: #32CD32;
}

.content-left__green {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.section-5__green {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #5AB963;


}

.content-left {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #000000;


}

.content-left__span {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    line-height: 36px;
    color: #999999;


}


.btn-btn {
    padding: 14px 30px;
    background-color: #5AB963;
    border-radius: 4px;
    box-shadow: none;
    border: none;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 90px;
    margin-top: 30px;


}


.section-5__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.section-5 {
    margin-top: 120px;
    padding-bottom: 150px;
}


.btn-btn:hover {
    background-color: #32CD32;
}

.footer {
    background-color: #0A0E1A;
}



.footer__coontent-left__text {

    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #666666;
}


.footer__content-center {
    display: flex;
    flex-direction: column;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;


}



.content-center__link {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    margin-bottom: 25px;


}

.content-center__link:hover{
    color: grey;
}

.footer__content-right {
    display: flex;
    flex-direction: column;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;


}


.content-right__link {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    margin-bottom: 25px;
    

}
.content-right__link:hover{
    color: grey;
}




.footer__content-right-right{
    display: flex;
    flex-direction: column;
}

.footer-right__wrap{
 display: flex;
 gap: 50px  ;
 padding-bottom: 125px;
 
 
}

.i-container__footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 120px;
}


.footer__social{
    display: flex;
    gap: 18px   ;
}




.footer__social-pict{
    fill: currentColor;
}

.footer__social-pict:hover{
    fill: grey;
}



